[submodule "asset/module/bootstrap"]
	path = asset/module/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "asset/module/fontawesome"]
	path = asset/module/fontawesome
	url = https://github.com/FortAwesome/Font-Awesome.git
